.container {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.item {
  width: 280px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  & img {
    width: 80%;
  }
}
